@using System.Linq;
@model ATS.UI.Models.BookingViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Available Flights:</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Seat No</th>
                <th scope="col">Price (in Rs.)</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Flight No</th>
                <th scope="col">Seat Type</th>
                <th scope="col">AirLines</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var seat in Model.AvailableSeats.OrderBy(s => s.FlightNumber).OrderBy(s => s.AvailableDate))
                {
                    <tr>
                        <th scope="row">@seat.SeatNumber</th>
                        <td>@seat.BasePrice</td>
                        <td>@seat.AvailableDate.ToShortDateString()</td>
                        <td>@seat.AvailableDate.ToShortTimeString()</td>
                        <td>@seat.FlightNumber</td>
                        <td>@seat.SeatType</td>
                        <td>@seat.VendorName</td>
                        <td>
                            <label class="radio-inline">
                                <input style="margin:-6px 0 0;" type="radio" onclick="assignSeat('@seat.ExternalId')">
                            </label>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>

    <h2>Booking Details:</h2>
    @using (Html.BeginForm("CreateBooking", "Booking", FormMethod.Post, new { name = "booking-select-form" }))
    {
        @Html.HiddenFor(model => model.SelectedSeatId, new { id = "selected_seat" })

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 pull-right center">
                    <button type="button" id="create_request_button" class="btn btn-default btn-blue" disabled>SUBMIT</button>
                </div>
            </div>
        </div>
    }

</div>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/booking.js" asp-append-version="true"></script>

